networks:
  custom_network:
    driver: bridge

services:
  true_shuffle_cloudflared:
    image: cloudflare/cloudflared
    container_name: true_shuffle_cloudflare_tunnel
    command: tunnel run
    volumes:
      - "${HOST_DIR}/cloudflared_trueshuffle/config:/config"
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARE_TUNNEL_TOKEN}
    restart: unless-stopped
    networks:
      - custom_network

  true_shuffle_flask:
    image: kobo67/true-shuffle:${FLASK_TAG:true_shuffle_flask_web}
    container_name: true_shuffle_flask
    hostname: true_shuffle_flask
    ports:
      - 5000:5000
    networks:
      - custom_network
    restart: unless-stopped
    env_file:
      - .env

  true_shuffle_redis:
    image: redis:7-alpine
    container_name: true_shuffle_redis
    hostname: true_shuffle_redis
    ports:
      - 6379:6379
    command: redis-server --requirepass $REDIS_PASSWORD
    networks:
      - custom_network
    restart: unless-stopped

  true_shuffle_celery_worker:
    image: kobo67/true-shuffle:${CELERY_TAG:true_shuffle_celery_worker}
    container_name: true_shuffle_celery_worker
    env_file:
      - .env
    networks:
      - custom_network
    restart: unless-stopped
